html,body{
    width: 100%;
    height: 100%;
}


/***
    welcome section
***/

.welcome-section{
    position: relative;
}

.bg-image {
    width: 100%;
    z-index: 1;
}
.items-welcome{
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 23%;
    left: 21%;
    background-color: transparent;
    
}
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pad-top-bottom-20{
    padding: 20px 0;
}
.pad-top-bottom-15{
    padding: 15px 0;
}
.studio-name{
    font-size: 2em;
    display: block;
    text-transform: uppercase;
}
.p-t-5{
    padding-top: 5rem;
}
.m-t-0{
    margin-bottom: 0px;
}
/***
    about us section
***/
.about-us-section > p{
    line-height: 1.2;
}

/***
    services-section
***/
.services-section{
    background-image: url(../images/assets/backgrounds/s_image.jpg);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    display: flex;
}
.center-content{
    margin: auto;
}
.services-section > p{
    line-height: 1.2;
}
/***
    what-we-do-section
***/
.what-we-do{
    text-align: center;
}

/***
    Portfolio section
***/

.col-md-3 > img{
    width: 100%;
}
/* .col-md-3:hover{    
    opacity: .1;
} */
.overlay{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #F2F2F2;
}
.overlay-left{
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    
}
.overlay > .text{
    position: absolute;
    font-size: 25px;
    color: #143204;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%,-50%);

}

/***
    Contact us Section
***/
.contact-us-section{
    background-image: url(../images/assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
        
}

.form-control::placeholder{
    color: white;
    opacity: 1;
}
/***
    Footer social media icons
***/
.social-media-icons{
    display: flex;
    justify-content: center;
}

/***
    utilities classes
***/
.title{
    text-transform: uppercase;
}